/* header */
.header{
grid-area: header;
height:60px;
display:flex;
align-items:center;
justify-content:space-between;
padding: 0 3px 0 30px; 
box-shadow: 0 6px 7px -3px cadetblue; 
}

.menu-icon {
    display: none;
}
.icon{
    vertical-align: middle;
    line-height: 1px;
    font-size: 20px;
}
.icon_header{
    vertical-align: middle;
    line-height: 1px;
    font-size: 26px;
}

.icon, .icon_header{
    margin-right: 5px;
}
.body{
    margin: 0;
    padding: 0;
    background-color: azure;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 165px 1fr 1fr 1fr;
    grid-template-rows: 0 .2fr 3fr;
    grid-template-areas: 
    'sidebar header header header'
    'sidebar main main main';
    height: 100vh;
}

#sidebar{
    grid-area: sidebar;
    height: 100%;
    width: 165px;
    background-color: #178CA4;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
 .sidebar-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    margin-bottom: 30px;
 }

 .sidebar-title > span{
    display: none;
 }

 .sidebar-list{
    padding: 0;
    list-style-type: none;
 }
 .sidebar-list-item {
    padding: 20px 20px 20px 20px;
    font-size: 18px;
 }

 .sidebar-list-item:hover {
    background-color: aquamarine;
    cursor: pointer;
 }

 .sidebar-list-item > a {
    text-decoration: none;
    color: darkgray;
 }

 .sidebar-responsive{
    display: inline !important;
    position: absolute;
    z-index: 12 !important;
 }

 .sidebar-brand{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
 }

 .main-container{
    grid-area: main;
    /* overflow-y: auto; */
    padding: 20px 20px ;
    color: rgb(243, 239, 14);
 }
 .main-title{
    display: flex;
    justify-content: space-between;
 }
.main-cards {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
   gap: 20px;
   margin: 15px 0;
}

/* Media Queries */

/* Pour les écrans de grande taille */
@media screen and (min-width: 1201px) {
   .main-cards {
     grid-template-columns: repeat(4, 1fr); /* 4 boîtes par ligne */
   }
 }
 
 /* Pour les écrans de taille moyenne en mode portrait */
 @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: portrait) {
   .main-cards {
     grid-template-columns: repeat(3, 1fr); /* 3 boîtes par ligne */
   }
 }
 
 /* Pour les écrans de taille moyenne en mode paysage */
 @media screen and (min-width: 901px) and (max-width: 1200px) and (orientation: landscape) {
   .main-cards {
     grid-template-columns: repeat(3, 1fr); /* 3 boîtes par ligne */
   }
 }
 
 /* Pour les écrans de taille intermédiaire en mode portrait */
 @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) {
   .main-cards {
     grid-template-columns: repeat(3, 1fr); /* 3 boîtes par ligne */
   }
 }
 
 /* Pour les écrans de taille intermédiaire en mode paysage */
 @media screen and (min-width: 601px) and (max-width: 900px) and (orientation: landscape) {
   .main-cards {
     grid-template-columns: repeat(3, 1fr); /* 3 boîtes par ligne */
   }
 }
 
 /* Pour les écrans de mobile */
 @media screen and (max-width: 600px) {
   .main-cards {
     grid-template-columns: repeat(1, 1fr); /* 1 boîte par ligne */
   }
 

   /* Ajoutez la troncature du texte */
   .card {
       overflow: hidden;
       white-space: nowrap;
       text-overflow: ellipsis;
   }
}









 .card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    padding: 8px 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
 .card:first-child{
    background-color: deepskyblue;
 }
 .card:nth-child(2){
    background-color: chartreuse;
 }
 .card:nth-child(3){
    background-color: rgb(22, 114, 114);
 }
 .card:nth-child(4){
    background-color: rgb(255, 0, 85);
 }
 .card:nth-child(5){
   background-color: #18B7BE;
}
.card:nth-child(6){
   background-color: #f9f7f0;
}
 .card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .card-inner >.card_icon{
    font-size: 16px;
 }


 